<header class ="nav">
    <h1>Codial</h1>

    <ul class="nav-link">
        <% if (locals.user){ %>
            <li class="nav-link-list"><a href="/users/profile"><%= user.name%></a></li>
            <li class="nav-link-list">
                <a href="/users/sign-out">SignOut</a>
            </li>

        <%}else {%>
            <li class="nav-link-list">
                <a href="/users/sign-in">SignIn</a>
            </li>
            <li class="nav-link-list">
                <a href="/users/sign-Up">SignUp</a>
            </li>

        <% } %>
    </ul>
</header>