
    <h1>Codial/Home-page</h1>
    <section id = "feed-posts">
        <h3>Posts</h3>
        <form action="" id="new-post-form" method="POST"></form>
        <textarea name="content" placeholder="What's in your mind today?" cols="30" rows="3"></textarea>
        <input type="submit" value="Post">
    </section>

