
    <h2>Codial/Home-page</h2>
    <br/><br/>
    <section id = "feed-posts">
        <h3>Posts</h3>
        <%if(locals.user){%>
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea name="content" placeholder="What's in your mind today?" cols="50" rows="10" required ></textarea>
            <br>
            <input type="submit" value="Post">
        </form>
        <%}%>


        <div id="Post-list-container">
            <ul>
                <p>
                <% for(post of posts){%>
                    <li>
                        <%=post.content%>
                        <small>
                            <%=post.user.name%>
                        </small>
                    </li>
                </p>
                <div class="post-comments">
                    <%if(locals.user){%>
                        <form action = "/comments/create" method="POST">
                            <input type="text" name="content" placeholder="Any Comment">
                            <input type="hidden" name = "post" value = "<%=post._id %>">
                            <input type="submit" value="Add Comment">
                        </form>
                    <%}%>
                </div>
                <%}%>
            </ul>
        </div>
    </section>

