<link rel = 'stylesheet' href="/css/home.css">
    <div id="home-container"></div>
        <section id = "feed-posts">
            <h3>Posts</h3>
            <%if(locals.user){%>
            <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" placeholder="What's in your mind today?" cols="50" rows="10" required ></textarea>
                <br>
                <input type="submit" value="Post">
            </form>
            <%}%>


            <div id="Post-list-container">
                <ul>
                    
                    <% for(post of posts){%>
                        <%-include('_post')-%>
                    <%}%>
                </ul>
            </div>
        </section>

        <section id="user-friends">
            <h4> Friends</h4>
            <% for(u of all_users){%>
                <p>
                    <a href="/users/profile/<%=u.id%>"><%=u.name%></a>
                </p>
            <%}%>
        </section>
    </div>

