
    <h1>Codial/Home-page</h1>
    <section id = "feed-posts">
        <h3>Posts</h3>
        <form action="/posts/create" id="new-post-form" method="POST"></form>
        <textarea name="content" placeholder="What's in your mind today?" cols="50" rows="10" required></textarea><br>
        <input type="submit" value="Post">
    </section>

