<link rel="stylesheet" type="text/css" href="/css/User_Profile.css">
<h1>Codial/User_Profile </h1>
<p>User Name: <%=user.name%></p>
<p>User Email: <%=user.email%></p>

<form action="/users/sign-in">
    <input type="submit" value="Sign Out"/>
</form> 