
.nav{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(black,grey);
    color: white;
}
h1{
    margin: 5px;
    padding: 2px;
}


ul{
    list-style:none;
    padding: 0;
}
.nav-link{
    
    display: flex;
}

.nav-link-list{
    color: white;
    padding: 3px;
}
a{
    color:black;
    text-transform: capitalize;
}
